# Python y Entornos Virtuales
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Logs de Producción
logs/*.log

# Datos (Crudos y Procesados)
data/raw/*.csv
data/processed/*.csv
*.csv
!catalog/nodos_catalogo.csv

# Reportes y Dashboards
reports/*.html